/*
    css stylesheet for AnyBook api application
    author
    date
*/

body {
    background-image: url('https://thumbs2.imgbox.com/0e/5b/fNBj7riw_t.jpg');
    background-color: #000;
    vh: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h2, h1 {
    font-family: 'Righteous', sans-serif;
    color:black; 
  }

  #title {
    margin-top: 200px;
  }
  
  #header {
    font-size: 3rem;
  }
  
  .book-list {
    margin-top: 50px;
    visibility: hidden;
  }
